
// Importación de fuentes.
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

// Variables

$color: #4f4f4f;
$color-primary: #2F80ED;

// Estilos generales.
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    color: $color;
}

body {
    background: #eee;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}
p {
    color: #7c7c7c;
    font-size: .9rem;
}

ul li {
    list-style: none;
}

h5 {
    color: #000000;
    font-weight: 400;
    padding-bottom: 1rem;
}
h2 {
    font-weight: 600;
    padding-bottom: 1rem;
}

article {
    margin: 1rem 0;
    padding: 1rem;
    background: #fff;
    box-shadow: 0px 10px 20px 0px #dadada;
}

button {
    padding: .5rem 1.8rem;
    color: $color-primary;
    border: none;
    border: 1px solid $color-primary;
    border-radius: 9px;
    font-size: 1rem;
    cursor: pointer;
}

/* ========== Breakpoints ========== */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}