
.projects {
    .projects__title h4 {
        font-weight: 400;
    }
    .projects__project {

        display: flex;
        flex-wrap: wrap;
        column-gap: 1.5rem;

        .project {

            max-width: 280px;
            h5 {
                padding-top: .4rem;
                span {
                    margin-right: .6rem;
                }
            }
            .project__description {
                font-size: .9rem;
                padding-bottom: 2rem;
            }
            .project__button-primary {
                margin-right: 1rem;
                background: #2F80ED;
                a {
                    color: #ffffff;
                }
            }
            .project__button-secondary {
                a {
                    color: #2F80ED;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {

    .projects__project {
        img {
            object-fit: cover;
            width: 40%;
            max-height: 290px;
        }
        
        .project {
            max-width: 100%;
            height: 90px;
        }
    }
}